*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
header{
    background-image: linear-gradient(rgba(10, 10, 10, 0.8)),
        url('img-10.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 90vh;
}
nav{
    width: 100%;
    position: fixed;
    background-color: #fff;
    height: auto;
}
.nav-links{
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: 10px auto;
}
.logo{
    padding: 6px;
}
.logo h1{
    font-size: large;
}
.menu{
    display: none;
}
#menu{
    display: flex;
}
#menu li{
    list-style: none;
    padding: 6px;
}
#menu li a{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
    color: #000;
    transition: 1s;
}
#menu li a:hover{
    color: #723207;
}

.hero{
    height: 100%;
    display: flex;
    justify-content: start;
    padding-left: 70px;
    align-items: center;
}
.hero-text{
    padding: 20px;
}
.hero-text h3{
    font-size: 3rem;
    color: #fff;
    font-weight: 800;
    text-wrap: pretty;
}
.hero-text h3 span{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}
.hero-text p{
    padding-top: 30px;
    padding-bottom: 40px;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
}
.hero-text a{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
    color: #fff;
    background: #000;
    border-radius: 10px;
    padding: 10px;
    transition: 1s;
}
.hero-text a:hover{
    background: #fff;
    color: #723207;
}
@media (max-width: 960px){
    header{
        height: 80vh;
    }
    .menu{
        display: block;
    }
    #menu{
        display: none;
    }
    .hero{
        padding: 30px;
    }
}